

{% block title %}Skrzynka kontaktowa{% endblock %}

{% block content %}

    <h1> Kontakt został usunięty <h1>


 <table>
        <tr>
            <th>
                <a href="{{ path('showAllContact')}}">Powrót</a>
            </th>

    </table>



{% endblock %}
